.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  width: 90%;
  margin: 0 auto;
}

.features__wrapper {
  padding: 160px 0;
}

.feature-block {
  .inner__wrapper {
    box-shadow: -6px 6px 10px var(--very-Dark-Cyan-Shadow);
    border-radius: 1rem;
  }
}
