@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* # Front-end Style Guide Layout - Mobile: 375px, - Desktop: 1440px *

/* ## Color  */
  --Pink: hsl(322, 100%, 66%); /*  Primary */
  --Pink-Shadow: hsla(322, 100%, 66%, 0.2); /*  Primary */
  --Very-Pale-Cyan: hsl(193, 100%, 96%); /*  Neutral */
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --very-Dark-Cyan-Shadow: hsla(192, 100%, 9%, 0.1);
  --Grayish-Blue: hsl(208, 11%, 55%);

  /* ## Typography */
  /* Body Copy */
  --Font-body: 18px;

  /* Headings */
  --Font-Poppins: "Poppins", serif;
  --Font-600: 600;

  /* Body, Call-to-actions */
  --Font-OpenSans: "Open Sans", sans-serif;
  --Font-400: 400;
  --Font-700: 700;

  /* ## Icons */
  /* using react icons */
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
}

.btn {
  font-family: var(--Font-OpenSans);
  font-weight: var(--Font-700);
  background-color: white;
  display: flex;
  border-radius: 1rem;
  /* padding: 0.6rem 36px; */
  box-shadow: -3px 3px 10px var(--very-Dark-Cyan-Shadow);
  border: none;
  cursor: pointer;
}

.btn--secondary {
  background-color: var(--Pink);
  color: white;
}
.btn:hover {
  opacity: 0.9;
}

.heading {
  color: var(--Very-Dark-Cyan);
  font-family: var(--Font-Poppins);
  font-weight: var(--Font-600);
}
h1 {
  font-size: 32px;
}
p {
  color: var(--Grayish-Blue);
  font-family: var(--Font-OpenSans);
  font-weight: var(--Font-400);
  font-size: 18px;
}

.container {
  /* max-width: 1440px; */
  margin: 0 auto;
/*   border: 1px solid black; */
}
.section {
  padding-block: 30px;
}

@media screen and (min-width: "800px") {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid black;
    padding-block: 50px;
  }
  .btn--secondary {
    background-color: var(--Pink);
    color: white;
    padding: 1rem 0;
  }
}
